In [1]:
student_name = "iteration"
count = 0
for letter in student_name:
    if letter.lower() == "e":
        print(count)
    count += 1

2

In [3]:
numbers = [7, 1, 5, 8, 0]
del numbers[2] 
numbers

[7, 1, 8, 0]

In [6]:
numbers = [2, 3, 2]
total = 0
while numbers:
    total += numbers.pop()
print(total)
print(numbers)

7
[]

In [1]:
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "SÃ£o Paulo", "Hyderabad"]

for city in cities:
    if city.startswith("P"):
        print(city)
    elif city.startswith("D"):
        print(city)

Dubai

In [3]:
test_string = 'Mexico City'
ltr_cnt = test_string.lower().count('c')
ltr_cnt

2

In [4]:
seq=range(0,5)
for x in seq:
    print(x)

0
1
2
3
4

In [5]:
numbers = ""
for x in range(7):
    numbers += str(x)
print(numbers)

0123456

In [6]:
numbers = ""
for x in range(2,8,2):
    numbers += str(x)
print(numbers)

246

In [7]:
numbers = ""
for x in range(0,5,2):
    numbers += str(x)
print(numbers)

024

In [8]:
scores = [ 0, 5, 2, 11, 1, 9, 7]
print(sorted(scores))

[0, 1, 2, 5, 7, 9, 11]

In [9]:
scores = [ 0, 5, 2, 11, 1, 9, 7]
scores.sort()  
print(scores)

[0, 1, 2, 5, 7, 9, 11]

In [10]:
tip = 'Strings are a sequence of characters'
tip_list = tip.split()
print(tip_list)

['Strings', 'are', 'a', 'sequence', 'of', 'characters']

In [11]:
wisdom_list = ["mistakes", "are", "a", "part", "of", "learning"]
wisdom_string = "()".join(wisdom_list)
print(wisdom_string)

mistakes()are()a()part()of()learning

In [12]:
code_tip = "-PythonO-usesO-spacesO-forO-indentation"
tip_words = code_tip.split('O')
print(tip_words)

['-Python', '-uses', '-spaces', '-for', '-indentation']

In [1]:
test1 = open('cities.txt', 'r')
ten_char = test1.read(10)
print(ten_char)

Beijing
Ca

In [ ]:
books = open('poem2.txt', 'r')

In [1]:
schools = open("schoolnames.txt", "r")  
name = schools.readline().strip('*\n')

while name:
    if name.startswith("M"):
        print(name)
    else:
        pass
    name = schools.readline().strip('*\n')

Maths*High*School

In [ ]:
schools = open("school.txt", "w+")